@using Todo.Entity
@{
    List<TaskEntity> listTaskEntity = ViewBag.ListTaskEntity;
    string prevenction = ViewBag.Prevenction;
    string select = ViewBag.Select;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/styles/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/libs/jquery/jquery-2.1.4.js"></script>

</head>
<body>

    <form method="POST">
        <div id="add">
            <input type="text" name="txt" id="input_txt"/>
            <input type="submit" name="btn_add" id="btn_add" />
            <p id="prevenction_p">@prevenction</p>
        </div>
    </form>

    <form method="post" action="/task/Get_Task">
        <div id="div_select_search">
            <select id="select_search">
                <option value="Done">Done</option>
                <option value="Dont_Done">Dont_Done</option>
                <option value="All">All</option>
            </select>
            <input type="hidden" name="select" id="select_hidden" value="@select" />
            <input type="submit" name="btn_search" id="btn_search" value="Go" />
        </div>
    </form>


        <table id="table_list_task" cellspacing="0">
            @foreach (var ent in listTaskEntity)
            {
                <tr>
                    <td>@ent.Id</td>
                    <td>@ent.Title</td>
                    <td><input type="checkbox" data-task-id="@ent.Id" class="checkbox_x" checked="@ent.IsDone" />
                    <td>@ent.Priority</td>
                    <td>
                        <select>
                            <option>critical</option>
                            <option>height</option>
                            <option>normal</option>
                            <option>low</option>
                            <option>minimum</option>
                        </select>
                    </td>
                    <td>
                        <form method="POST" action="/task/DeleteTask">
                            <input type="hidden" name="taskId" value="@ent.Id" />
                            <input type="hidden" name="taskTitle" value="@ent.Title" />
                            <input type="submit" name="btn_delete" class="delete" value="X" />
                            <a class="link_edit" href="/task/edit?id=@ent.Id">Edit</a>
                        </form>
                    </td>
                </tr>
            }
        </table>

    <script src="~/Scripts/pages/tasks-page.js"></script>
</body>
</html>
